@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins';
}

.main-header{ 
    width: 100%;
    height: 60px;
    box-shadow: 0px 5px 20px  #e6e6e6;
}

.tophead{
    padding-left: 150px;
    padding-top: 10px;
}

.tophead h1{
    color: #0088cc;
    font-size: 23px;
}

.box-container{
    width: 60%;
    text-align: left;
    height: auto;
}

.box-container p{
    padding-top: 20px;
    font-size: 12px;
    padding-bottom: 20px;
}

.container{
    background: #ffffff;
    box-shadow: 0px 5px 20px  #e6e6e6;
    border-radius: 8px;
    padding: 20px;
}

.container h2{
    font-size: 25px;
}

.container p{
    font-size: 15px;
}

.title1{
    display: inline-block;
    padding: 20px;
}

.container button{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: #0088cc;
    border: 0px solid white;
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
    font-family: 'poppins';
    cursor: pointer;
}

.container button:hover{
    background: #459ac5;
}

.container .img1{
    width: 20px;
    color: #ffffff;
    display: inline-block;
    padding-top: 20px;
}


.container1{
    background: #ffffff;
    box-shadow: 0px 5px 20px  #e6e6e6;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
}

.container1 p{
    padding-top: 0px;
    font-size: 17px;
    font-weight: 600;
}


.container2{
    background: #ffffff;
    box-shadow: 0px 5px 20px  #e6e6e6;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
}

.container2 h3{
    font-size: 16px;
    margin-bottom: 10px;
}

.container2 .subcont{
padding-top: 15px;
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 20px;
}

::-webkit-scrollbar{
    height: 6px;
    width: 4px;
}

::-webkit-scrollbar-thumb{
    background: #ededed;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover{
    background: #459ac5;
}

.container2 .fmwap{
    display: inline-block;
    margin-right: 50px;
    width: 75px;
}

.container2 .fmwap img{
    width: 75px;
}

.container2 .gbwap{
    display: inline-block;
    margin-right: 50px;
    width: 75px;
}

.container2 .gbwap img{
    width: 75px;
}

.container2 .inwap{
    display: inline-block;
    margin-right: 50px;
    width: 75px;
}

.container2 .inwap img{
    width: 75px;
}

.container2 .okwap{
    display: inline-block;
    margin-right: 50px;
    width: 75px;
}

.container2 .okwap img{
    width: 75px;
}

.container2 .klwap{
    display: inline-block;
    margin-right: 50px;
    width: 75px;
}

.container2 .klwap img{
    width: 75px;
}

.container2 .yswap{
    display: inline-block;
    margin-right: 50px;
    width: 75px;
}

.container2 .yswap img{
    width: 75px;
}

.container2 .ykwap{
    display: inline-block;
    margin-right: 50px;
    width: 75px;
}

.container2 .ykwap img{
    width: 75px;
}

.container2 .tlwap{
    display: inline-block;
    margin-right: 50px;
    width: 75px;
}

.container2 .tlwap img{
    width: 75px;
}

.comment-box{
    width: 60%;
    background: #ffffff;
    box-shadow: 0px 5px 20px  #e6e6e6;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    font-family: 'poppins';
}

.comment-box h3{
    font-size: 16px;
    margin-bottom: 5px;
}

.comment-box input{
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 15px;
    border: 0px solid white;
    font-family: 'poppins';
}

.comment-box input:focus{
    border-radius: 2px solid white;
    outline: 0;
}

.comment-box textarea{
    width: 100%;
    height: 100px;
    padding: 15px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 0px solid white;
    font-family: 'poppins';
    margin-bottom: 100px;
}

.comment-box textarea:focus{
    border-radius: 2px solid white;
    outline: 0;
}

.comment-box button{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: #0088cc;
    border: 0px solid white;
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.comment-box button:hover{
    background: #459ac5;
}

.footer{
    background: linear-gradient(180deg, rgba(0,136,204,1) 21%, rgba(255,255,255,1) 100%);
}

.footer-main{
    margin-top: 20px;
    height: 250px;
}

.footer-bottom{
    border: none;
}

hr {
    width:80%;
    margin:0 auto;
}

.footer p{
    font-size: 12px;
    padding: 20px;
}

  
